.topcontent{
    color:white;

}
.topcontent_container{
    position:absolute;
    top:300px;
    right:150px;
  
}

.topcontent_container >p{
    letter-spacing: 1px;
    text-align:left;
    padding-left: 3px;
    padding-top: 20px;

}
.topcontent_container > a > button{
    margin-bottom: 30px;
    text-align: left;
    margin-left: 3px;
    border:none;
    border-radius: 3px;
    outline:none;
    
}
topcontent_container >h1{
    font-size: 50px;
    line-height:64px;
    font-family: sans-serif;

}
.topcontent_download{
    color:white;
    background-color:orangered;
    font-size: 14px;
    padding:10px,30px;
    font-family: sans-serif;
    font-weight:300;

}