
*{
    background-color: black;
}

.projectcontainer{
    display:flex;
    flex-direction: column;

    color:white;
    justify-content:center;
    margin:200px,0;
    align-items: center;

}

.projectcontainer >h1{
padding-bottom:15px;

}
.projectcontainer >p{
    padding-bottom:20px;

}

.projectcontainer_projects{
    display:flex !important;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;

     
    margin-top:50px;
    
}



    