@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');


.header{
    display:flex;
    align-items:left;
    color:white;
    background-color:black;
}
.header-left{
    flex:0.4;
}

.header-left >h1{
    text-align:center;
    font-family:"Alata" ,sans-serif;
letter-spacing: 1px;
padding: 20px,0;   
}

.header-left >h1 >span{
    color:orangered;
}


.header-right{
    display: flex;
    justify-content:space-between;
    flex:0.6;
    padding:20px;
    font-size: medium;
}

.header-right > a> h4{
font-size: 18px;
cursor:pointer;
transition: transform 200ms ease-in-out;
font-family: "Crimson Text",serif;
}

.header-right > a> h4:hover{
    transform: scale(1.2);
    color:antiquewhite;
    background-color: orangered;
    padding:5px,20px;
    border-radius:1px;
    letter-spacing: 1px;
font-family: "Crimson Text",serif;
    }

    .header-rightbutton{
        background-color:orangered;
        color: antiquewhite;
        cursor:pointer;
        border-radius: 3px;

    }
      
   